body {
    background-color: #202020;
    height: 100%
}

div.introduction {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15.625em;
    margin-left: -35.9375em;
    font-family: Consolas, sans-serif;
}

p.opening {
    color: white;
    font-family: Consolas, monaco, monospace;
    font-size: 1.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 0.5em;
}

p.description {
    color: white;
    font-family: Consolas, monaco, monospace;
    font-size: 1.0625em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.45em;
}

p.scroll_down {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 3.125em;
    margin-left: -23.4375em;
    font-family: Consolas, monaco, monospace;
    font-size: 0.9375em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.5625em;
}

div.my_projects {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 31.25em;
    margin-left: -18.75em;
    font-family: Consolas, sans-serif;
    overflow-y: scroll;
}

span.arrow_down {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -7.8em;
    margin-left: -4.05em;
    width: 3.125em;
    font-size: 5em;
    line-height: 18.75em;
    animation: up-down 1s infinite alternate;
}

@keyframes up-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50px);
    }
}