body {
    background-color: #202020;
    overflow-y: scroll;
}

div.introduction {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -575px;
    font-family: Consolas, sans-serif;
}

p.opening {
    color: white;
    font-family: Consolas, monaco, monospace;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20px;
}

p.description {
    color: white;
    font-family: Consolas, monaco, monospace;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 25px;
}

p.scroll_down {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -375px;
    font-family: Consolas, monaco, monospace;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 25px;
}

div.about_me {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 500px;
    margin-left: -300px;
    font-family: Consolas, sans-serif;
    overflow: scroll;
}

span.arrow_down {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    width: 50px;
    font-size: 80px;
    line-height: 300px;
    animation: up-down 1s infinite alternate;
}

@keyframes up-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50px);
    }
}